<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculando o triangulo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input type="number" label="Base" color="primary" labelPlacement="floating" placeholder="Digite a base" [(ngModel)]="base"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" label="Altura" color="primary" labelPlacement="floating" placeholder="Digite a altura"[(ngModel)]="altura"></ion-input>
  </ion-item>

</ion-content>
